
  @import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

  /*Back up font: font-family: 'Roboto', sans-serif; */

/* HOMEPAGE */

body {
    font-family: 'Handlee', cursive !important;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    margin-left: 5em;
    margin-right: 80em;
    margin-top: 1.5em;
    margin-bottom: 3em;
}

.nav-bar-home {
    list-style-type: none;
    margin-left: 35%;
    margin-right: 35%;
    padding: 0;
    text-align: center;
    display: block;
    padding: 0.3em;
    background-color: white;
    border-top: 0.3em solid #CDFCFE;
    border-bottom: 0.3em solid #CDFCFE;
    font-family: 'Handlee', cursive !important;
  }

  .nav-bar {
    list-style-type: none;
    margin-left: 35%;
    margin-right: 35%;
    padding: 0;
    text-align: center;
    display: block;
    padding: 0.3em;
    background-color: white;
    border-top: 0.3em solid #CDFCFE;
    border-bottom: 0.3em solid #CDFCFE;
    font-family: 'Handlee', cursive !important;
  }

  .list-inline-nav-bar {
    display: inline;
    padding: 0.5em;
  }

  .nav-bar a:hover {
    background-color: #CDFCFE;
    font-size: 110%;
    transition: 0.3s;
  }

  .nav-bar-home a:hover {
    background-color: #CDFCFE;
    font-size: 110%;
    transition: 0.3s;
  }

 

  @media only screen and (max-width: 1200px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        margin-bottom: 3em;
        text-align: center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .nav-bar-home {
        display: flex;
        flex-direction: column;
        margin-bottom: 3em;
        text-align: center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .rainbow_cake_img {
        margin-bottom: 3em;
    }
    .most_popular_recipes {
        margin: 0;
    }
  }

  


  


header {
    text-align: center;
    font-family: 'Handlee', cursive !important;
    background-color: #CDFCFE;
    padding-top: 30px;
}

.website-header {
    color: black;
    font-weight: bold;
    margin: auto;
    width: 8em;
    font-size: 2.5em;
    border: 0.6em solid white;
    padding: 1em;      
}

@media only screen and (max-width: 600px) {
     .website-header {
        font-size: 2em;
        border: none;
        padding: 0; 
    }
  }


.subheading_text {
    font-size: 1em;
    color: #242424;
    
}


.rainbow_cake_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 43em;
    max-height: 25em;
}


@media only screen and (max-width: 1000px) {
    .rainbow_cake_img {
        width: 100%;
        padding: 0;
        text-align: center;
    }
  }


.most_popular_recipes {
    text-align: center;
    font-size: 1.5em;
}

.homepage_food_gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px; 
}

@media only screen and (max-width: 800px) {
    .homepage_food_gallery {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
  }

.cake-img:hover {
    transform: scale(1.5);
    transition: 0.3s;
}


figcaption {
    text-align: center;
}

footer {
    background-color: #CDFCFE;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.find_my_food_blog {
    font-size: 1.5em;
}


.makeup_foodie_blog_img {
   padding-bottom: 0.5em;
}




/* VICTORIA SPONGE PAGE */

header {
    text-align: center;
    font-family: 'Handlee', cursive !important;
    background-color: #CDFCFE;
    padding-bottom: 30px;
    padding-top: 30px;
}

main {
    font-family: 'Handlee', cursive !important;
    padding-top: 25px;
}



.container {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 5em;
}

.ingredients {
    padding-right: 5em;
}



.recipe-cake-img {
    float: right;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    width: 42em;
    height: 30em;
}

.tutorial-vid {
    padding-bottom: 5em;
    padding-left: 5em;
}

.tutorial-vid video {
    max-width: 700px;
    max-height: auto;
}




/* END OF VICTORIA SPONGE*/


footer {
    font-family: 'Handlee', cursive !important;
    background-color: #CDFCFE;
    padding-bottom: 30px;
    padding-top: 30px;
}

.border-box {
    margin-left: 27%;
    margin-right: 27%;
    border: 30px solid white;
}

.other-recipes {
    text-align: center;
    text-decoration: underline;
}

.other-recipes-food-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

figcaption {
    text-align:center;
}



@media only screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .recipe-cake-img {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .ingredients {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .ingredients ul {
        text-align: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .ingredients ol {
        text-align: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .border-box {
        font-size: 2em;
        border: none;
        padding: 0; 
        margin: 0;
    }
    .other-recipes {
        font-size: 1em;
    }
    .other-recipes-food-gallery {
        flex-direction: column;
    }
    .other-recipes-food-gallery img {
        text-align: center;
    }
    .tutorial-vid{
        text-align: center;
        width: 100%;
        padding-left: 0;
    }
    .tutorial-vid video {
        max-width: 100%;
    }
  }





/* CONTACT PAGE */
.contact-info {
    text-align: center;
    padding-top: 1em;
}

.contact-info h4 {
    padding-top: 1.5em;
}

.social-icons img {
    align-items: center;
    padding: 0.5em;
}


/* ALL RECIPES */

.all-recipes-list {
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 3em;
    padding-top: 1em;

}

.all-recipes-list h2 {
    text-align: center;
    padding-bottom: 1em;
}

.list {
    display: flex;
    flex-direction: row;
}

.list img {
    padding-right: 1em;
}

.list figcaption {
    padding-left: 5em;
}

@media only screen and (max-width: 1200px) {
    .list {
        flex-direction: column;
        margin: 0;
    }
    .all-recipes-list {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .all-recipes-list img {
        width: 100%;
        height: auto;
    }
  }

/* Button styling */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #CDFCFE;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #00DCCE;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #00DCCE;
    color: white;
  }

  /* Hide selected items */
  .none {
    display: none;
  }

  

 

/* END OF ALL RECIPES */




/* CALCULATOR */

