/* HOMEPAGE */

a {
    text-decoration: none;
    color: black;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    display: block;
    padding: 8px;
    background-color: white;
    border: 8px solid #CDFCFE;
    font-family: 'Roboto', sans-serif;
  }

  .list-inline-nav-bar {
    display: inline;
    border-right: 1.5px solid black;
    padding-right: 5px;
  }

  .nav-bar a:hover {
    background-color: #CDFCFE;
    font-size: 110%;
    transition: 0.3s;
  }



header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #CDFCFE;
    padding-bottom: 30px;
    padding-top: 30px;
}

.website-header {
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin: auto;
    border: 30px solid white;
    padding: 40px; 
    width: 300px; 
    
}

.subheading_text {
    font-size: 18px;
    color: #242424;
    
}


.rainbow_cake_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

body {
    font-family: 'Roboto', sans-serif;
}


hr {
    border-top: 3px solid #bbb;
    margin-left: 500px;
    margin-right: 500px;
}

.most_popular_recipes {
    text-align: center;
    text-decoration: underline;
}

.homepage_food_gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.cake-img:hover {
    transform: scale(1.5);
    transition: 0.3s;
}


figcaption {
    text-align: center;
}

footer {
    background-color: #CDFCFE;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.find_my_food_blog {
    text-decoration: underline;
}


.makeup_foodie_blog_img {
    padding-top: 20px;
    padding-bottom: 20px;
}




/* VICTORIA SPONGE PAGE */

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    display: block;
    padding: 8px;
    background-color: white;
    border: 8px solid #CDFCFE;
    font-family: 'Roboto', sans-serif;
  }

  .list-inline-nav-bar {
    display: inline;
  }

  .nav-bar a:hover {
    background-color: #CDFCFE;
  }



header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #CDFCFE;
    padding-bottom: 30px;
    padding-top: 30px;
}

main {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
    padding-top: 30px;
}

.victoria-sponge-title {
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin: auto;
    border: 30px solid white;
    padding: 40px; 
    width: 300px; 
    
}

.victoria-sponge-img {
    float: right;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
}


footer {
    font-family: 'Roboto', sans-serif;
    background-color: #CDFCFE;
    padding-bottom: 30px;
    padding-top: 30px;
}

.border-box {
    margin-left: 27%;
    margin-right: 27%;
    border: 30px solid white;
}

.other-recipes {
    text-align: center;
    text-decoration: underline;
}

.other-recipes-food-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

figcaption {
    text-align:center;
}











/* CALCULATOR */

